<!--
  ~ Personal License Agreement
  ~ Copyright Notice
  ~
  ~ © 2025 Voltaire Bazurto Blacio. All rights reserved.
  ~ License Terms
  ~
  ~     Ownership: All code contained in this portfolio is the sole property of Voltaire Bazurto Blacio and is hereby copyrighted by me.
  ~
  ~     Permitted Use: Others are welcome to view and study the code for personal, educational, or non-commercial purposes. You may share insights or information about the code, but you cannot use it for any commercial products, either as-is or in a derivative form.
  ~
  ~     Restrictions: The code may not be used, reproduced, or distributed for commercial purposes under any circumstances without my explicit written permission.
  ~
  ~     Rights Reserved: I reserve the right to use the code, or any future versions thereof, for my own purposes in any way I choose, including but not limited to the development of future commercial derivative works under my name or personal brand.
  ~
  ~     Disclaimer: The code is provided "as is" without warranty of any kind, either express or implied. I am not responsible for any damages resulting from the use of this code.
  ~
  ~ By accessing this portfolio, you agree to abide by these terms.
  -->

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Job form fragment</title>
  </head>
  <body>
    <th:block th:fragment="form_messages">
      <ul class="form-saved-message green lighten-4" th:if="${saved}==true">
        <li th:if="${saved}==true">Form has been saved sucessfully!</li>
      </ul>

      <ul class="form-saved-message green lighten-4" th:if="${updated}==true">
        <li th:if="${updated}==true">Record has been updated sucessfully!</li>
      </ul>
    </th:block>

    <th:block th:fragment="form_error_messages">
      <div
        class="form-error-messages red lighten-4"
        th:if="${#fields.hasErrors('global')}"
      >
        <ul class="general-errors">
          <li th:errors="*{global}">Error codes</li>
        </ul>
      </div>
    </th:block>

    <th:block th:fragment="job_form">
      <div class="fields-job-form">
        <div class="row">
          <div class="input-field col s4">
            <label for="title">Job Title</label>
            <input
              class="validate"
              id="title"
              th:id="title"
              th:name="title"
              th:value="*{title}"
              type="text"
            />
            <div
              class="form-errors red-text text-darken-2"
              th:errors="*{title}"
              th:if="${#fields.hasErrors('title')}"
            >
              Title error
            </div>
          </div>

          <div class="col s4">
            <label for="jobType">Job type</label>
            <select
              class="browser-default"
              id="jobType"
              th:field="*{jobType.id}"
              th:name="jobType"
            >
              <option
                th:each="jobTypeObj : ${jobTypeList}"
                th:text="${jobTypeObj.description}"
                th:value="${jobTypeObj.id}"
              >
                Option1
              </option>
            </select>
            <div
              class="form-errors red-text text-darken-2"
              th:errors="*{jobType}"
              th:if="${#fields.hasErrors('jobType')}"
            >
              Job type error
            </div>
          </div>
          <div class="col s4">
            <label for="salary">Salary</label>
            <input
              id="salary"
              max="999999.99"
              min="0"
              th:id="salary"
              th:name="salary"
              th:value="*{salary}"
              type="number"
            />
            <div
              class="form-errors red-text text-darken-2"
              th:errors="*{salary}"
              th:if="${#fields.hasErrors('salary')}"
            >
              Salary error
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s8 input-field">
            <label for="description">Description</label>
            <textarea
              class="validate"
              cols="40"
              id="description"
              rows="35"
              style="text-align: left; width: 100%; height: 200px"
              th:id="description"
              th:name="description"
              type="text"
            >[[*{description}]]</textarea>
            <div
              class="form-errors red-text text-darken-2"
              th:errors="*{description}"
              th:if="${#fields.hasErrors('description')}"
            >
              Description error
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
