<!--
  ~ Personal License Agreement
  ~ Copyright Notice
  ~
  ~ © 2025 Voltaire Bazurto Blacio. All rights reserved.
  ~ License Terms
  ~
  ~     Ownership: All code contained in this portfolio is the sole property of Voltaire Bazurto Blacio and is hereby copyrighted by me.
  ~
  ~     Permitted Use: Others are welcome to view and study the code for personal, educational, or non-commercial purposes. You may share insights or information about the code, but you cannot use it for any commercial products, either as-is or in a derivative form.
  ~
  ~     Restrictions: The code may not be used, reproduced, or distributed for commercial purposes under any circumstances without my explicit written permission.
  ~
  ~     Rights Reserved: I reserve the right to use the code, or any future versions thereof, for my own purposes in any way I choose, including but not limited to the development of future commercial derivative works under my name or personal brand.
  ~
  ~     Disclaimer: The code is provided "as is" without warranty of any kind, either express or implied. I am not responsible for any damages resulting from the use of this code.
  ~
  ~ By accessing this portfolio, you agree to abide by these terms.
  -->

<!DOCTYPE html>
<html>

<head th:replace="public/master::master_head(~{::title}, ~{::#scriptsjs}, ~{})">
    <meta charset="UTF-8">

    <title th:text="'HRRecruitApp - ' + ${formTitle}">HRRecruitApp</title>
    <div id="scriptsjs">
        <script src="/js/formHelpers.js"></script>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

            var baseUrl = /*[[${baseUrl}]]*/ '';


        /*]]>*/
    </script>


</head>

<body th:replace="public/master::master_body(~{::#main-content})">

<div id="main-content">


    <div id="job_form_container">


        <h5 th:text="${formTitle}">Title</h5>


        <form th:id="job_form" id="job_form" th:action="${formActionUrl}" th:object="${jobForm}" th:method="post">

            <th:block th:replace="secured/job_form_fragment.html::form_error_messages">Messages</th:block>


            <th:block th:replace="secured/job_form_fragment.html::job_form">
            </th:block>

            <div class="row">
                <div class="col s12">
                    <button type="submit" class="waves-effect waves-light btn-floating btn-large right">
                        <i class="material-icons right">save</i>
                    </button>
                </div>
            </div>

        </form>


    </div> <!-- container -->


</div> <!-- main-content -->
</body>
</html>