<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fragment Job List</title>
</head>
<body>

<div th:fragment="js_list_skills">
	
		<script>
			
			function ajaxDelete( actionUrl, id ){
				$.ajax({
				    url: actionUrl + id,
				    type: 'DELETE',
				    success: function(response) {
						console.log(response.result);
						if(response.result==='OK'){
							alert("Record has been deleted!");
							window.location = baseUrl;
						}else {
							console.log(response);
							alert("Couldn't delete the selected record");
						}
						
				    },
				    data: {
				    	id: id
				    }
				});
				
			}
			
			function ajaxPut( actionUrl, id ){
				$.ajax({
				    url: actionUrl + id,
				    type: 'PUT',
				    success: function(response) {
						console.log(response.result);
						if(response.result==='OK'){
							alert("Job offer has been closed!");
							window.location = baseUrl;
						}else {
							console.log(response);
							alert("Couldn't closed selected job offer");
						}
						
				    },
				    data: {
				    	id: id
				    }
				});
				
			}
			
			
			function changePage(page, url){
					window.location = baseUrl + (page);
			}
				
			function askConfirmation(actionUrl, id){
					if ( window.confirm("Are you sure to delete this record?") == true ) {
						ajaxDelete( actionUrl + 'delete/', id );
						
						return false;
					} else {
						
						return false;
					}
			}
			
			function closeJobConfirmation(actionUrl, id){
				if ( window.confirm("Are you sure you want to close this job offer?") == true ) {
					ajaxPut( actionUrl + 'close/', id );
					
					return false;
				} else {
					
					return false;
				}
			}
				
				
			
		</script>
	
</div>

<th:block th:fragment="jobs_list">


	<table th:if="${jobsList.size()} > 0"  class="responsive-table ">
											<thead>
												<tr>
													<th>Title</th>
													<th>Description</th>
													<th>Job Type</th>
													<th>Monthly salary</th>
													<th># applicants</th>
													<th>Posted on</th>
													<th>Status</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="jobObj : ${jobsList}"  >
													
													<th:block th:object="${jobObj}">
														
														<td>
															<a th:href="${baseUrl + 'edit/'} + *{id}" th:text="*{title}">Edit</a>
														</td>
														<td th:text="   ${#strings.substring( jobObj.description , 0, 10) + ' ... ' }   ">description</td>
														<td th:text="( *{jobType}!= null ? *{jobType.description}  : ''  ) ">jobType</td>
														<td th:text="*{salary}">salary</td>
														
														<td >
															<div th:if=" ${ jobObj.getJobApplicants().size() > 0 } ">

																<a th:href="${applicantsJobsUrl} + ${jobObj.id} " th:text="${ jobObj.getJobApplicants().size() }">
																</a>
															</div>
															
															<div  th:if=" ${ jobObj.getJobApplicants().size() == 0 } " th:text="${ jobObj.getJobApplicants().size() } "></div>
														
														</td>
														
														<td th:text="*{datePosted}">datePosted</td>
														<td th:text="*{status}=='O'? 'Open' : (*{status}=='C'?'Closed':'') "></td>
														<td>
															
															<a th:onclick="'return askConfirmation( baseUrl, ' + *{id} + '  )'" href="#">Delete</a> 
															&nbsp;
															
															<a th:onclick="'return closeJobConfirmation( baseUrl, ' + *{id} + '  )'" href="#">CloseOffer</a> 
														</td>
														
													</th:block>
												</tr>
											</tbody>
		</table>


</th:block>


</body>
</html>