<!--
  ~ Personal License Agreement
  ~ Copyright Notice
  ~
  ~ © 2025 Voltaire Bazurto Blacio. All rights reserved.
  ~ License Terms
  ~
  ~     Ownership: All code contained in this portfolio is the sole property of Voltaire Bazurto Blacio and is hereby copyrighted by me.
  ~
  ~     Permitted Use: Others are welcome to view and study the code for personal, educational, or non-commercial purposes. You may share insights or information about the code, but you cannot use it for any commercial products, either as-is or in a derivative form.
  ~
  ~     Restrictions: The code may not be used, reproduced, or distributed for commercial purposes under any circumstances without my explicit written permission.
  ~
  ~     Rights Reserved: I reserve the right to use the code, or any future versions thereof, for my own purposes in any way I choose, including but not limited to the development of future commercial derivative works under my name or personal brand.
  ~
  ~     Disclaimer: The code is provided "as is" without warranty of any kind, either express or implied. I am not responsible for any damages resulting from the use of this code.
  ~
  ~ By accessing this portfolio, you agree to abide by these terms.
  -->

<!DOCTYPE html>
<html>
<head th:replace="public/master::master_head(~{::title}, ~{}, ~{})">
    <meta charset="UTF-8">
    <title>HRRecruitApp - User profile</title>


    <div id="scriptsjs">
        <script src="/js/formHelpers.js"></script>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

            var baseUrl = /*[[${baseUrl}]]*/ '';

        /*]]>*/
    </script>


    <style>
        #main-content{
            height: 80vh;
        }
        #profile_form_container{
            height: 100%;
        }
    </style>


</head>
<body th:replace="public/master::master_body(~{::#main-content})">

<div id="main-content">


    <div th:replace="secured/profile_fragment_layout::profile_forms_layout( ~{::#profile_content} )">


        <div id="profile_content">


            <form th:id="changepwd_form" id="changepwd_form" th:action="${baseUrl}+'update-password'"
                  th:object="${changePwdForm}" th:method="post">

                <h5>Change password</h5>

                <th:block th:replace="secured/profile_form_fragment.html::changepwd_form_messages"></th:block>

                <th:block th:replace="secured/profile_form_fragment.html::user_password_form"></th:block>

                <div class="row">
                    <div class="col s12">
                        <button title="Update password" type="submit" class="waves-effect waves-light  btn right">
                            <i class="material-icons right">save</i> Save
                        </button>
                    </div>
                </div>

            </form>

            <p class="divider"></p>


            <form th:action="${baseUrl}" th:id="applicant_data_form" id="applicant_data_form" th:object="${applicant}"
                  th:method="post">

                <h5>Update profile information</h5>

                <th:block th:replace="secured/profile_form_fragment.html::form_messages"></th:block>

                <th:block th:replace="secured/profile_form_fragment.html::profile_form"></th:block>
                <div class="row">
                    <div class="col s12">
                        <button title="Update info" type="submit" class="waves-effect waves-light  btn right">
                            <i class="material-icons right">save</i> Save
                        </button>
                    </div>
                </div>

            </form>


        </div>


    </div>


</div>
</body>
</html>