<!DOCTYPE html>
<html>
<head th:replace="public/master::master_head(~{::title}, ~{}, ~{})">
<meta charset="UTF-8">
<title>HRRecruitApp :: Sign up as a job applicant</title>
</head>
<body th:replace="public/master::master_body(~{::#main-content})">
	
	<div id="main-content" class="background-img">
		
			
		<style>
			.background-img{
			    background-image: url(" [[ @{/img/handshake-2056023_1920.jpg}  ]] ");
			    background-repeat: no-repeat;
			    height: 100vh;
			    background-size: cover;
			}
			
			.white-container{
				padding: 15px;
				margin-left: 15%;
				margin-right: 15%;
			}
			
			.transparent-container-margins{
				padding-top: 10%;
			}
		</style>
	


		<div class="transparent-container-margins transparent">
		

			<div class="card section white white-container ">
				
			
				<div class="row">
					<div class="col s6">
						<section>
							<h4 class="secondary-text-color">Sign up</h4>
							<p style="text-align: justify;">
							Welcome! In this page you can create a new user to be used as a job applicant in the HRRecruitApp system.
							With your credentials you will be able to create your own CV, search for jobs openings and apply to them!
							When done registering you can login with your credentials <a th:href="${loginUrl}"> here</a>.
							</p>
							
						</section>					
					</div>
					<div class="col s6">
						
						
							
					    	

						<form th:id="changepwd_form" id="changepwd_form" th:action="${postFormUrl}" th:object="${newApplicantObj}" th:method="post" >
							<div class="row">
								<div class="section">
									<div id="form-messages">
										<div class="form-error-messages red lighten-4 " th:if="${#fields.hasErrors('global')}">
												<ul class="general-errors ">
													<li th:errors="*{global}">
														Error  codes
													</li>
													
													
												</ul>
										</div>
										<div class="form-error-messages red lighten-4 center-align" th:if="${param.error}">Bad login or password.</div> 
								    	<div class="form-saved-message green lighten-4 center-align" th:if="${param.logout}">Log out successful.</div>
								    	
								    	<ul th:if="${saved}==true" class="form-saved-message green lighten-4">
											<li th:if="${saved}==true">
												New applicant has been created. You can log into the system now <a th:href="${loginUrl}">here</a>!
											</li>
											
										</ul>
								    	
									</div>
								</div>
							</div>
				
							<div class="row" >
								<div class="col s12">
									
									<div>
										<i class="material-icons light-green-text">perm_identity</i> <label for="username">Username</label>
									</div>
									<input id="username" th:id="username" type="text"  th:field="*{username}" />
									<div class="form-errors red-text text-darken-2" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
									Username error</div>		
								</div>
							</div>
							
							<div class="row" >
								<div class="col s12">
								
									<div>
										<i class="material-icons light-green-text">email</i>
										<label for="email">E-mail</label>
									</div>
								
									
									<input id="email" th:id="email" type="text"  th:field="*{email}" />
									<div class="form-errors red-text text-darken-2" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
									E-mail error</div>		
								</div>
							</div>
							
							<div class="row">
								<div class="col s12">
								
									<div>
										<i class="material-icons light-green-text">vpn_key</i>
										<label for="password">New Password</label>
									</div>
								

													<input id="password" th:id="password"  th:name="password" type="password" />
													<div class="form-errors red-text text-darken-2" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>													
								</div>
														
							</div>
							<div class="row">
								<div class="col s12">
									<div>
										<i class="material-icons light-green-text">done_all</i>
										<label for="passwordConfirmation">Confirm your password</label>
									</div>
													
													<input id="passwordConfirmation" th:id="passwordConfirmation" th:name="passwordConfirmation" type="password"  />
													<div class="form-errors red-text text-darken-2" th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">Confirmation Password error</div>							
								</div>
							</div>
							
							<div class="row">
								<div class="col s12">
									<button class="btn" type="submit"><i class="material-icons">send</i>Submit</button>
								</div>
							</div>
							
						</form>
						

						
					</div>
					
					
				</div>
				
			</div>
		</div>		
		
	
	</div>
</body>
</html>