<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Footer</title>
</head>
<body>
	
		<footer th:fragment="footer"  class="row main-footer light-primary-color">
			<div class="col s12">
			
				<div class="row">
					<div class="col s6 center-align">
						Created by Voltaire Bazurto Blacio - 2018
						All rights reserved
					</div>
					<div class="col s6">
						<div class=" left-align"><i class="material-icons">email</i> vbazurtob@gmail.com</div>
						
						<div class=" left-align"><img th:src="@{/img/mark-github.svg}" style="width:24px;height:24px;"> 
						<a href="http://github.com/vbazurtob" target="_new">vbazurtob</a></div> 
						
					</div>
				</div>
				
				
			</div>

		</footer>
		

</body>
</html>