/* Personal License Agreement
   Copyright Notice

   © 2025 Voltaire Bazurto Blacio. All rights reserved.
   License Terms

   Ownership: All code contained in this portfolio is the sole property of Voltaire Bazurto Blacio and is hereby copyrighted by me.

   Permitted Use: Others are welcome to view and study the code for personal, educational, or non-commercial purposes. You may share insights or information about the code, but you cannot use it for any commercial products, either as-is or in a derivative form.

   Restrictions: The code may not be used, reproduced, or distributed for commercial purposes under any circumstances without my explicit written permission.

   Rights Reserved: I reserve the right to use the code, or any future versions thereof, for my own purposes in any way I choose, including but not limited to the development of future commercial derivative works under my name or personal brand.

   Disclaimer: The code is provided "as is" without warranty of any kind, either express or implied. I am not responsible for any damages resulting from the use of this code. */

@charset "UTF-8";

html, body{
	font-family: Verdana, Ubuntu;
	font size: 11pt;
	height: 100%;
}

.logo-text{
	font-size: 1.3em;
	padding-top: 15px;
	padding-left:15px;
}

/*
.main-header{
	height: 90px;
}
*/

.main-menu {
	height: 50px;
}

#main-content{
/* 	height: 100%; */
	padding-top: 0px;
}

.main-footer{
	height: 10vh;
	text-align: center;
	font-size: 0.8em;
	padding-top: 25px;
	margin: 0px;
}

.main-footer div{
	margin: 0px;
}

.form-errors{
	font-size: 0.8em;
}

.form-error-messages, .form-saved-message{
	border-radius: 3px;
	text-align: center;
	
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#profile_side_menu{

	height: 100%;
	margin: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.sidemenu-option{
	padding: 15px;
	border-bottom-left-radius: 10px;
	
	border-right-width: 0px;	
	
}

.optionFormSelected{
	border-right-width: 0px;
	padding: 15px;
	border: 0px none;
	border-bottom-left-radius: 10px;
	background-color: white;
	
}

#profile_form_container{
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 10px;
}

.separator-line{
	border-bottom: 1px solid #eeeeee;
}

.app-title{
	font-size: 1.5em;
	padding-left: 10px;
	padding-top: 2px;	
}
