<!DOCTYPE html>
<html>

	<head th:replace="public/master::master_head(~{::title}, ~{::#scriptsjs}, ~{})">
		<meta charset="UTF-8">
		
		<title>HRRecruitApp - Work Experience</title>
		<div id="scriptsjs">
			<script src="/js/formHelpers.js"></script>
		</div>
		
		<script th:inline="javascript">
		/*<![CDATA[*/
		
		    var baseUrl = /*[[${baseUrl}]]*/ '';
		    var currentPage = /*[[${pageObj.getNumber()}]]*/ 0;
			
		
		/*]]>*/
		</script>
		
		<div th:replace="secured/academics_form_fragment::inlineJsFragment">
		</div>
	
	</head>

<body th:replace="public/master::master_body(~{::#main-content})" >


	

	<div id="main-content">

		<div th:replace="secured/profile_fragment_layout::profile_forms_layout( ~{::#applicant_academics_container} )">
				
			<div id="applicant_academics_container" >
				
				<th:block th:replace="secured/academics_form_fragment.html::form_academics(${baseUrl} )">
				</th:block>
		
					<div id="list-academics" >
						<div id="paginationBar" class="row">
							<div class="col s1">
								<a title="Previous page"  th:href="${baseUrl} + ${prevPage}">
									<i class="material-icons">chevron_left</i>
								</a>
							
							</div>
							<div class="col s1">
								<a title="Next page" th:href="${baseUrl} + ${nextPage}">
									<i class="material-icons">chevron_right</i>
								</a>
							</div>
							<div class="col s9">
								<span th:if="${pageObj.getTotalPages()} > 1" class="row">
									<div class="col s2">
										Page #
									</div>
									<div class="col s1">
										<select id="selectPage" th:name="selectPage" onchange="changePage(this.options[this.selectedIndex].value)"
											th:value="${pageObj.getNumber()}" class="browser-default" style="height: 1.8em;width:3.5em;"
											>
											<option th:each="pageNumber : ${#numbers.sequence(1,  pageObj.getTotalPages()) }"
											 th:value="${pageNumber}-1" th:text="${pageNumber}" th:selected=" ( ${pageNumber} - 1 ) == ${pageObj.getNumber()} " >0</option>
										</select>
									</div>
									<div class="col s1">
										/ <span th:text="${pageObj.getTotalPages()}"></span>																			
									</div>
								
								</span>
							</div>
							
							
							
							
							
							
						</div>
					
						<table th:if="${academics.size()} > 0" width="80%" class="responsive-table ">
							<tr>
								<th>Institution</th>
								<th>Degree type</th>
								<th>Degree name</th>
								<th>Started</th>
								<th>Finished</th>
								<th>Action</th>
							</tr>
							
							<tr th:each="academicObj : ${academics}"  >
								<th:block th:object="${academicObj}">
									
									<td>
										<a th:href="${baseUrl + 'edit/'} + *{id}" th:text="*{institution}">Edit</a>
									</td>
									<td th:text="*{degreeType}">degreetype</td>
									<td th:text="*{degreeName}">degreename</td>
									<td th:text="*{started}  ">started</td>
									<td th:text="(*{inProgress} == 'Y' ) ? 'Present' : *{finished} ">finished</td>
									<td>
										<a onclick="return askConfirmation()" th:href="${baseUrl + 'delete/'} + *{id} ">Delete</a> 
									</td>
									
								</th:block>
								
								
							</tr>
							
							
						</table>
						
						
						
				</div>
				
				
						
			</div>
									
				
				
				
		</div>	
	
	</div>
</body>
</html>