<!DOCTYPE html>
<html>

	<head th:replace="public/master::master_head(~{::title}, ~{::#scriptsjs}, ~{})">
	<meta charset="UTF-8">
	<title>HRRecruitApp - Work Experience</title>
	<div id="scriptsjs">
		<script src="/js/formHelpers.js"></script>
	</div>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	
	    var baseUrl = /*[[${baseUrl}]]*/ '';
	    var currentPage = /*[[${pageObj.getNumber()}]]*/ 0;
		
	
	/*]]>*/
	</script>
	
	<script>
		window.onload = function(){
			
			const inProgressChk = document.getElementById('inProgress');
			
			if(inProgressChk.value === 'Y'){
				
				document.getElementById('finished').disabled = false;
				document.getElementById('finished').value = '';
				document.getElementById('finished').disabled = true;
				
				
			}else{
				console.log(inProgressChk.value);
			}
			
			

		}
		
	
		
		
		function changePage(page, url){
			window.location = baseUrl + (page);
		}
		
		function askConfirmation(){
			return window.confirm("Are you sure to delete this record?");
		}
		
	</script>
	
	
	
</head>
<body th:replace="public/master::master_body(~{::#main-content})" >


	

	<div id="main-content">

		<div th:replace="secured/profile_fragment_layout::profile_forms_layout( ~{::#applicant_academics_container} )">
				
				
			<div id="applicant_academics_container">
				

				<form th:id="input_form" id="input_form" th:action="${baseUrl}"  th:object="${academicsForm}" th:method="post" >

							<ul>
								<li th:if="${saved}==true">
									Form has been saved sucessfully!
								</li>
								
							</ul>
							<div class="form-error-messages">
								<ul>
									<li th:if="${#fields.hasErrors('global')}" th:errors="*{global}">
										Error  codes
									</li>
									
									
								</ul>
							</div>
					
						<div id="newAcademicRecord">
							
							<input type="hidden" th:name="applicant.username" th:id="applicant.username" th:value="*{applicant.username}"> 
							
							<label for="institution">Institution:</label>
							<input id="institution" th:id="institution" th:name="institution" type="input" th:value="*{institution}"/>
							<div th:if="${#fields.hasErrors('institution')}" th:errors="*{institution}">Institution error</div>
							
							
						
							
							
							<label for="degreeType">Degree type:</label>
							<select id="degreeType" th:name="degreeType" th:field="*{degreeType}">
								<option th:each="degreeTypeObj : ${degreeTypeLst}" th:value="${degreeTypeObj}" th:text="${degreeTypeObj}">Option1</option>
							</select>
							<div th:if="${#fields.hasErrors('degreeType')}" th:errors="*{degreeType}">Degree type error</div>

							

							<label for="degreeName">Degree name:</label>
							<input id="degreeName" th:id="degreeName" th:name="degreeName" type="input" th:value="*{degreeName}"/>
							<div th:if="${#fields.hasErrors('degreeName')}" th:errors="*{degreeName}">Degree name error</div>
							
							
							
							<label for="started">Started:</label>
							
							
							<input id="started" th:id="started" type="date" th:name="started" th:value="${#dates.format(academicsForm.started, 'yyyy-MM-dd')}"/>
							<div th:if="${#fields.hasErrors('started')}" th:errors="*{started}">From error</div>
							
							
							
							<label for="finished">Finished:</label>
							<input id="finished" th:id="finished" type="date" th:name="finished" 
							th:value="${#dates.format(academicsForm.finished, 'yyyy-MM-dd')}" 
							th:disabled="(*{inProgress} == 'Y') ? 'true'  : 'false' "
							/>
							
							<div th:if="${#fields.hasErrors('finished')}" th:errors="*{finished}">To error</div>
							
							
							<input th:id="inProgress" th:name="inProgress" th:value="*{inProgress}" type="checkbox" id="inProgress" onclick="enableDisableToDateInput(this, 'finished')"  th:checked="${academicsForm.inProgress == 'Y' }" >
							<label for="chkStillInProgress">Present</label>
							
							<div th:if="${#fields.hasErrors('inProgress')}" th:errors="*{inProgress}">From error</div>
							
							<input type="submit" value="Add" />
						</div>
					</form>
					<div id="list-academics">
						<div id="paginationBar">
							<a th:href="${baseUrl} + ${prevPage}"><</a>
							
							<a th:href="${baseUrl} + ${nextPage}">></a>
							
							<span th:if="${pageObj.getTotalPages()} > 1">
								
								Page #
								<select id="selectPage" th:name="selectPage" onchange="changePage(this.options[this.selectedIndex].value)"
								th:value="${pageObj.getNumber()}" class="browser-default"
								>
								<option th:each="pageNumber : ${#numbers.sequence(1,  pageObj.getTotalPages()) }"
								 th:value="${pageNumber}-1" th:text="${pageNumber}" th:selected=" ( ${pageNumber} - 1 ) == ${pageObj.getNumber()} " >0</option>
								</select> / <span th:text="${pageObj.getTotalPages()}"></span>
							</span>
							
							
						</div>
					
						<table th:if="${academics.size()} > 0">
							<tr>
								<td>Institution</td>
								<td>Degree type</td>
								<td>Degree name</td>
								<td>Started</td>
								<td>Finished</td>
								<td>Action</td>
							</tr>
							
							<tr th:each="academicObj : ${academics}"  >
								<th:block th:object="${academicObj}">
									
									<td th:text="*{institution}">institution</td>
									<td th:text="*{degreeType}">degreetype</td>
									<td th:text="*{degreeName}">degreename</td>
									<td th:text="*{started}  ">started</td>
									<td th:text="(*{inProgress} == 'Y' ) ? 'Present' : *{finished} ">finished</td>
									<td>
										<a th:href="${baseUrl + 'edit/'} + *{id} ">Edit</a>
										<a onclick="return askConfirmation()" th:href="${baseUrl + 'delete/'} + *{id} ">Delete</a> 
									</td>
									
								</th:block>
								
								
							</tr>
							
							
						</table>
						
						
						
				</div>
				
				
						
			</div>
									
				
				
				
		</div>	
	
	</div>
	

	
	
</body>
</html>