<!DOCTYPE html>
<html>
	<head th:replace="public/master::master_head(~{::title}, ~{}, ~{})">
	<meta charset="UTF-8">
	<title>HRRecruitApp - Job ads management</title>
	
	
	<div id="scriptsjs">
			<script src="/js/formHelpers.js"></script>
	</div>
		
	<script th:inline="javascript">
		/*<![CDATA[*/
		
		    var baseUrl = /*[[${baseUrl}]]*/ '';
		
		/*]]>*/
	</script>
		
	<th:block th:replace="secured/jobs_list_fragment.html::js_list_skills">
	</th:block>
		
	
</head>
<body th:replace="public/master::master_body(~{::#main-content})" >

	<div id="main-content">


		<div class="jobs-filter">
		
			<div class="card">
			
				<form th:action="${filterFormUrl}" th:object="${filterJobForm}" th:method="post">
				
					<div class="row">
						<div class="col s3">
							
								<label  for="title">Job Title</label>
								<input id="title" th:id="title" th:name="title" type="text" th:value="*{title}" class="validate" />
							
						</div>
						
						<div class="col s3">
						
							<label for="jobType">Job type</label>
							<select id="jobType" th:name="jobType" th:field="*{jobType.id}" class="browser-default">
								<option th:each="jobTypeObj : ${jobTypeList}" th:value="${jobTypeObj.id}" th:text="${jobTypeObj.description}">Option1</option>
							</select>
						</div>
						
						<div class="col s3">
							<label for="status">Job status</label>
							<select id="status" th:name="status" th:field="*{status}" class="browser-default">
								<option th:each="jobStatusObj : ${jobStatusList}" th:value="${jobStatusObj}" th:text="${jobStatusObj}">Option1</option>
							</select>
						</div>
						
						<div class="col s3">
							<div>&nbsp;</div>
							<button type="submit" title="Search" class="waves-effect waves-light  btn">
								<i class="material-icons right">search</i>
							</button>		
						</div>
						
					</div>
				</form>



					<div class="row">
						<div class="col s12">
									<form th:action="${clearFilterFormUrl}" th:object="${filterJobForm}" th:method="post">
										<div class="row">
											<div class="col s12">
												<button type="submit" title="Clear filters" class="waves-effect waves-light  btn ">
													<i class="material-icons right">cancel</i><span th:text="'Clear filters'"></span>
												</button>		
											</div>
										</div>
									</form>
						</div>
					</div>
									
			
			
<!-- 				Halfway fab button -->
				<div class="row">
					<div class="col s12">
						<button onclick="window.location= baseUrl + 'new'" type="button" title="Add new record" class="waves-effect waves-light btn-floating btn-large halfway-fab right">
							<i class="material-icons right">add</i>
						</button>		
					</div>
				</div>
				
				
			
			</div>
			
			
			
		
		</div>
		

		<div class="jobs-list">

			<th:block th:replace="secured/job_form_fragment.html::form_messages">Messages</th:block>			
		
			<th:block th:replace="secured/pagination_bar_fragment.html::paginationBar( ${baseUrl}, ${prevPage}, ${nextPage}, ${pageObj}, ${pageNumber}  )"></th:block>
				
			<th:block th:replace="secured/jobs_list_fragment.html::jobs_list" ></th:block>				
									
					
			
			
		
		</div>
		
		

	</div>
</body>
</html>