<!DOCTYPE html>
<html>
	<head th:replace="public/master::master_head(~{::title}, ~{}, ~{})">
	<meta charset="UTF-8">
	<title>HRRecruitApp - Job ads management</title>
	
	
	<div id="scriptsjs">
			<script src="/js/formHelpers.js"></script>
	</div>
		
	<script th:inline="javascript">
		/*<![CDATA[*/
		
		    var baseUrl = /*[[${baseUrl}]]*/ '';
		
		/*]]>*/
	</script>
		
	
	
</head>
<body th:replace="public/master::master_body(~{::#main-content})" >

	<div id="main-content">

		<th:block th:replace="secured/job_form_fragment.html::form_messages">Messages</th:block>			
			
		<th:block th:replace="secured/jobs_list_fragment.html::jobs_list" ></th:block>				
								
				
		<div class="row">
			<div class="col s12">
				<button onclick="window.location= baseUrl + 'new'" type="button" title="Add new record" class="waves-effect waves-light btn-floating btn-large right">
					<i class="material-icons right">add</i>
				</button>		
			</div>
		</div>

	</div>
</body>
</html>