<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fragment Job List</title>
</head>
<body>


<th:block th:fragment="jobs_list">


	<table th:if="${jobsList.size()} > 0"  class="responsive-table ">
											<thead>
												<tr>
													<th>Title</th>
													<th>Description</th>
													<th>Job Type</th>
													<th>Salary</th>
													<th>Posted on</th>
													<th>Status</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="jobObj : ${jobsList}"  >
													
													<th:block th:object="${jobObj}">
														
														<td>
															<a th:href="${baseUrl + 'edit/'} + *{id}" th:text="*{title}">Edit</a>
														</td>
														<td th:text="*{description}">description</td>
														<td th:text="( *{jobType}!= null ? *{jobType.description}  : ''  ) ">jobType</td>
														<td th:text="*{salary}">salary</td>
														<td th:text="*{datePosted}">datePosted</td>
														<td th:text="*{status}=='O'? 'Open' : (*{status}=='C'?'Closed':'') "></td>
														<td>
															
															<a th:onclick="'return askConfirmation(' + ${'deleteForm'} +', baseUrl, ' + *{id} + '  )'" href="#">Delete</a> 
														</td>
														
													</th:block>
												</tr>
											</tbody>
		</table>


</th:block>


</body>
</html>