<!DOCTYPE html>
<html>
	<head th:replace="public/master::master_head(~{::title}, ~{}, ~{})">
	<meta charset="UTF-8">
	<title>HRRecruitApp - User profile</title>
	
	
	<div id="scriptsjs">
			<script src="/js/formHelpers.js"></script>
	</div>
		
	<script th:inline="javascript">
		/*<![CDATA[*/
		
		    var baseUrl = /*[[${baseUrl}]]*/ '';
		
		/*]]>*/
	</script>
		
	
	
</head>
<body th:replace="public/master::master_body(~{::#main-content})" >

	<div id="main-content">
			
			
			
			
			
			<div th:replace="secured/profile_fragment_layout::profile_forms_layout( ~{::#input_form} )">


				<form th:id="input_form" id="input_form" th:action="${baseUrl}+'update-password'" th:object="${applicant}" th:method="post" >
				
					<th:block th:replace="secured/profile_form_fragment.html::user_password_form"></th:block>
					
					<div class="row">
						<div class="col s12">
							<button title="Update password" type="submit" class="waves-effect waves-light btn-floating btn-large right">
								<i class="material-icons right">save</i>
							</button>		
						</div>
					</div>
					
				</form>
				
				<p class="separator"></p>
				
				
				<form th:action="${baseUrl}" th:id="input_form" id="input_form"  th:object="${applicant}" th:method="post" >				
					
					<input type="hidden" th:id="username" th:name="username" th:field="*{username}" >
					<th:block th:replace="secured/profile_form_fragment.html::form_messages"></th:block>
					
					<th:block th:replace="secured/profile_form_fragment.html::profile_form"></th:block>
					<div class="row">
						<div class="col s12">
							<button title="Update info" type="submit" class="waves-effect waves-light btn-floating btn-large right">
								<i class="material-icons right">save</i>
							</button>		
						</div>
					</div>

				</form>
			</div>
			

	</div>
</body>
</html>