<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Working experience list fragment</title>
</head>
<body>

	<div th:fragment="js_list_workexp">
	
		<script>
			
			function ajaxDelete( actionUrl, id ){
				$.ajax({
				    url: actionUrl + id,
				    type: 'DELETE',
				    success: function(response) {
						console.log(response.result);
						if(response.result==='OK'){
							alert("Record has been deleted!");
							window.location = baseUrl;
						}else {
							console.log(response);
							alert("Couldn't delete the selected record");
						}
						
				    },
				    data: {
				    	id: id
				    }
				});
				
			}
			
			
			function changePage(page, url){
					window.location = baseUrl + (page);
			}
				
			function askConfirmation(formDeleteId, actionUrl, id){
					if ( window.confirm("Are you sure to delete this record?") == true ) {
						ajaxDelete( actionUrl + 'delete/', id );
						
						return false;
					} else {
						
						return false;
					}
			}
				
				
			
		</script>
	
	</div>


	<div th:fragment="workexp_list_table(workexp, baseUrl)">
	
		<table th:if="${workexp.size()} > 0"  class="responsive-table ">
											<thead>
												<tr>
													<th>Position</th>
													<th>Institution</th>
													<th>Started</th>
													<th>Finished</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="workexpObj : ${workexp}"  >
													
													<th:block th:object="${workexpObj}">
														
														<td>
															<a th:href="${baseUrl + 'edit/'} + *{id}" th:text="*{position}">Edit</a>
														</td>
														<td th:text="*{institution}">institution</td>
														<td th:text="*{started}  ">started</td>
														
														<td th:text="(*{inProgress} == 'Y' ) ? 'Present' : *{finished} ">finished</td>
														
														<td>
															
															<a th:onclick="'return askConfirmation(' + ${'deleteForm'} +', baseUrl, ' + *{id} + '  )'" href="#">Delete</a> 
														</td>
														
													</th:block>
												</tr>
											</tbody>
			</table>
	
	
	</div>


</body>
</html>