<!--
  ~ Personal License Agreement
  ~ Copyright Notice
  ~
  ~ © 2025 Voltaire Bazurto Blacio. All rights reserved.
  ~ License Terms
  ~
  ~     Ownership: All code contained in this portfolio is the sole property of Voltaire Bazurto Blacio and is hereby copyrighted by me.
  ~
  ~     Permitted Use: Others are welcome to view and study the code for personal, educational, or non-commercial purposes. You may share insights or information about the code, but you cannot use it for any commercial products, either as-is or in a derivative form.
  ~
  ~     Restrictions: The code may not be used, reproduced, or distributed for commercial purposes under any circumstances without my explicit written permission.
  ~
  ~     Rights Reserved: I reserve the right to use the code, or any future versions thereof, for my own purposes in any way I choose, including but not limited to the development of future commercial derivative works under my name or personal brand.
  ~
  ~     Disclaimer: The code is provided "as is" without warranty of any kind, either express or implied. I am not responsible for any damages resulting from the use of this code.
  ~
  ~ By accessing this portfolio, you agree to abide by these terms.
  -->

<!doctype html>
<html>
  <head th:replace="public/master::master_head(~{::title}, ~{}, ~{})">
    <meta charset="UTF-8" />
    <title>HRRecruitApp - Error</title>
  </head>
  <body th:replace="public/master::master_body(~{::#main-content})">
    <div
      id="main-content"
      th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}"
      class="center-align"
    >
      <h1 th:text="|${httpStatus} - ${httpStatus.getReasonPhrase()}|">404</h1>
      <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
      <a href="index.html" th:href="@{/index}">Back to Home Page</a>

      <style>
        #main-content {
          height: 80vh;
          padding-top: 50px;
          padding-bottom: 15px;
        }
      </style>
    </div>
  </body>
</html>
